/*
 * Empty Stylesheet file.
 */

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.lb-screen{
    -fx-font: bold 16pt "Arial Black";
    -fx-text-fill:#3354FF;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
}

.lb-title{
    -fx-font: bold italic 16pt "Arial Black";
    -fx-text-fill:#3354FF;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
}

.lb-ocultar{
/*    -fx-font: bold 12pt "Arial";
    -fx-text-fill:#3354FF;*/
}

.table-row-cell:empty {
//    -fx-background-color: lightyellow;
    -fx-background-color: white;
}

.defaultTableStyle { 
    -fx-font-size: 11px;
 /*
    -fx-base: rgb(0,0,0,0);
    -fx-background-color: 
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);                   
    -fx-background-image: url('low_contrast_linen.png');
    -fx-background-color: rgba(0,0,0,.75);        
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
*/    
}

/* The main scrollbar **track** CSS class  */
.table .scroll-bar:horizontal .track,
.table .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.table .scroll-bar:horizontal .increment-button ,
.table .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */
.table .scroll-bar:vertical .increment-button ,
.table .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.table  .scroll-bar .increment-arrow,
.table  .scroll-bar .decrement-arrow{
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table .scroll-bar:horizontal .thumb,
.table .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
} 
